name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: krdlab/setup-haxe@v1
    - run: |
        haxelib git format https://github.com/HaxeFoundation/format.git
        haxelib install hscript
        haxelib install vshaxe
        haxelib install vscode
        haxelib install vscode-debugadapter
    - run: |
        haxe build.hxml
        make build

